body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  background-color: black;
  color: white;
  border: rgb(108, 108, 178);
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

.btn::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: rgb(108, 108, 178);
  z-index: -1;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.btn:hover {
  color: white;
}

.btn:hover::before {
  transform: scale(1);
}
